@font-face {
    font-family: 'hel';
    src: url(fonts/Helvetica.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'hel';
    src: url(fonts/Helvetica-Light.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'hel';
    src: url(fonts/FreeSansBold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'hel';
    src: url(fonts/NimbusSansRegular.otf);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'hel-light';
    src: url(fonts/Helvetica-Light.ttf);
    font-style: normal;
    font-weight: 400;
}