@font-face {
    font-family: 'hel';
    src: url(fonts/Helvetica.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'hel';
    src: url(fonts/Helvetica-Light.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'hel';
    src: url(fonts/FreeSansBold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'hel';
    src: url(fonts/NimbusSansRegular.otf);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'hel-light';
    src: url(fonts/Helvetica-Light.ttf);
    font-style: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: hel;
    font-size: 16px;
}

header {
    background-color: #fd7e14;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 30px;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.5);
}

header #logo {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

header ul {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header ul li {
    height: 57px;
    list-style: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #fd7e14 3px solid;
    margin: 30px;
    transition: border 250ms;
}

header ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

header ul li:hover {
    border-bottom: white 3px solid;
}

header #login {
    margin: 30px;
    height: 26px;
    width: 26px;
}

header #play {
    height: 40px;
    width: 110px;
    background-color: #ffc107;
    border: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 350ms;
}

header #play:hover {
    background-color: #ffb007;
}